<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="login-box">
    <div class="row">
        <div class="col-md-4">
            <section>
                <form asp-action="PasswordCode" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="user-box">
                        <label>Code: </label>
                        <input class="form-control loginput" autocomplete="username" name="code" aria-required="true" placeholder="Code" />
                    </div>

                    <div class="form-group user-box form-floating">
                        <div class="input-group">
                            <input type="text" id="password" class="form-control loginput" name="newPassword" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        </div>
                    </div>


                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Change Password
                        </button>
                    </div>


                </form>


            </section>
        </div>
    </div>
</div>

