@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div class="row justify-content-center" style="margin-top:50px">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h1>
                    ROLE UPDATE
                </h1>

            </div>
            <div class="card-body">
                <form asp-controller="Rol" asp-action="Edit" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Role Name</label>
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text text-danger"></span>
                    </div>

                    <button type="submit" class=" btn-primary btn-block">Role Update</button>
                </form>

            </div>
        </div>

    </div>

</div>